package laserdisc
package protocol

trait ListExtP { this: ListBaseP =>
  //LPUSH
  [..21#final def lpush[A: Show](key: Key, [#value1: A#]): Protocol.Aux[PosInt] =
    lpush(key, OneOrMore.unsafeFrom([#value1# :: ] :: Nil))#
  ]

  //RPUSH
  [..21#final def rpush[A: Show](key: Key, [#value1: A#]): Protocol.Aux[PosInt] =
    rpush(key, OneOrMore.unsafeFrom([#value1# :: ] :: Nil))#
  ]
}