dist: xenial
sudo: false
language: scala

before_install:
- docker run -p 6379:6379 -d redis:alpine
- docker run -p 6380:6379 -d eqalpha/keydb
- git fetch --tags

before_cache:
- rm -fv $HOME/.ivy2/.sbt.ivy.lock
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt        -name "*.lock"               -print -delete

after_success:
- bash <(curl -s https://codecov.io/bash)

sbt_args: -Dfile.encoding=UTF8 -Dsbt.color=always -Dsbt.supershell=false

stages:
- name: Format
  if: tag IS NOT present
- name: Test
  if: tag IS NOT present
- name: Publish Snapshot 2.12
  if: branch = master AND type = push AND tag IS NOT present AND NOT fork
- name: Publish Snapshot 2.13
  if: branch = master AND type = push AND tag IS NOT present AND NOT fork
- name: Release 2.12
  if: type != pull_request AND tag IS present AND NOT fork
- name: Release 2.13
  if: type != pull_request AND tag IS present AND NOT fork

scala:
- 2.12.12
- 2.13.3
jdk:
- openjdk8
- openjdk13

script: sbt ++$TRAVIS_SCALA_VERSION fullTest

jobs:
  include:
  - stage: Format
    name: Check with Scalafmt
    script: sbt ++$TRAVIS_SCALA_VERSION fmtCheck
    jdk: openjdk8
    scala: 2.13.2

  - stage: Test
    name: Compile benchmarks
    script: sbt ++$TRAVIS_SCALA_VERSION benchBuild
    jdk: openjdk8
    scala: 2.13.2

  - stage: Publish Snapshot 2.12
    name: Publish a snapshot for Scala 2.12
    script: CI_SNAPSHOT_RELEASE=publish sbt ++$TRAVIS_SCALA_VERSION releaseIt
    jdk: openjdk8
    scala: 2.12.11

  - stage: Publish Snapshot 2.13
    name: Publish a snapshot for Scala 2.13
    script: CI_SNAPSHOT_RELEASE=publish sbt ++$TRAVIS_SCALA_VERSION releaseIt
    jdk: openjdk8
    scala: 2.13.2

  - stage: Release 2.12
    name: Release for Scala 2.12
    script: CI_RELEASE=publishSigned sbt ++$TRAVIS_SCALA_VERSION releaseIt
    jdk: openjdk8
    scala: 2.12.11

  - stage: Release 2.13
    name: Release for Scala 2.13
    script: CI_RELEASE=publishSigned sbt ++$TRAVIS_SCALA_VERSION releaseIt
    jdk: openjdk8
    scala: 2.13.2

services:
- docker

cache:
  directories:
  - "$HOME/.cache/coursier"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
  - "$HOME/.sbt"
  - "lib_managed"
  - "target"
  - "project/target"
