sudo: false
dist: trusty
language: scala
scala:
- 2.12.4-bin-typelevel-4
- 2.11.11-bin-typelevel-4
jdk:
- oraclejdk8
script:
- sbt -Dfile.encoding=UTF8 test
after_success:
- if [[ -n $TRAVIS_TAG && $TRAVIS_PULL_REQUEST = 'false' && $TRAVIS_BRANCH = 'master' ]]; then sbt ++$TRAVIS_SCALA_VERSION releaseEarly; fi
before_cache:
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
cache:
  directories:
  - "$HOME/.coursier"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
before_install:
- sudo add-apt-repository -y ppa:webupd8team/java
- sudo apt-get update
- sudo apt-get install -y oracle-java8-installer || true
#todo remove this kludge and the above || true when the ppa is fixed
- cd /var/lib/dpkg/info
- sudo sed -i 's|JAVA_VERSION=8u171|JAVA_VERSION=8u181|' oracle-java8-installer.*
- sudo sed -i 's|PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u171-b11/512cd62ec5174c3487ac17c61aaa89e8/|PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u181-b13/96a7b8442fe848ef90c96a2fad6ed6d1/|' oracle-java8-installer.*
- sudo sed -i 's|SHA256SUM_TGZ="b6dd2837efaaec4109b36cfbb94a774db100029f98b0d78be68c27bec0275982"|SHA256SUM_TGZ="1845567095bfbfebd42ed0d09397939796d05456290fb20a83c476ba09f991d3"|' oracle-java8-installer.*
- sudo sed -i 's|J_DIR=jdk1.8.0_171|J_DIR=jdk1.8.0_181|' oracle-java8-installer.*
- sudo apt-get update
- sudo apt-get install -y oracle-java8-installer
- cd $TRAVIS_BUILD_DIR
- if [[ -n $TRAVIS_TAG && $TRAVIS_PULL_REQUEST = 'false' && $TRAVIS_BRANCH = 'master' ]]; then openssl aes-256-cbc -K $encrypted_d57b5eec735f_key
  -iv $encrypted_d57b5eec735f_iv -in .travis/secrets.tar.enc -out .travis/local.secrets.tar
  -d; tar xv -C .travis -f .travis/local.secrets.tar; fi
env:
  global:
  - secure: Msrzp7tssXc1InD37lu2GXRBEgS9U7SGhS/7Us5GivwWnRrzpYhrGKg77sWYKeDHU5V8544T/1p3lNTeIOixmnwfHplSb8EifgE2QYItdgItwsthyH6kWVaR28WZe4u15Pl/ICGtO1Y41c6mH/LiE5X+4mZnpf66hG8GXcOCaLtTk/HD6ZjufaG8f/IidsV/dLFa4hSay1yvEcOwZhcxeaiKbXsOCwAARSNJ/oJhI4ERTNBgwjDueSbiYZHEf1kVMOH89FTSz9Viimw/hxMmW6Ouh6fAvgz5NRPHvNbNyCT9zxmGkregv8NhQwRzbfdWmhiG/MnpZ/FsxCNazMFPc/48OeUEAiEU/DKsYCy8etq6I2dfJ2AANazMUq0zfWAJzED+lARVl2TvSSuDJkRzGC0z5CsjuEDI40+LVHPsN53ARERygCX7ecmUBjQPdFQnSgYIdYgpGekB1ocXvVA7FKDJ5iFcJauIpGSNZha6kfjS0y49M5I6kjOhZV0c0J0GG8GTqpE/xe0nQhKbHN9Os5aY1WZb+JTYoQ5DrhAPlJcDyaT+5jrbgegowPnQxl5RLU5RT6NA95mo3EDM0xsYy03COl5GwANJcwJDaFkxJNgnmySlh0V5kuyxmdPnBYI4ATEyD3BbnpaN5AM7iNgS+mTbOHlsrqTAGKicHEJg40s=
  - secure: UCmJ/R5ShE97hYIvsft4/Yh4B8gFKg2dJHvhlRJqb2VMWYFZZNRXiiFmpKUaaqWt0Wh3wstHKXIhTGHroqV9spnvd60EAFSeLZOp4ZaJx1F6ZM8af6jRyB5MHHaQb+50pjzq3ikkkP+fJ97+Ee8tN+o73M+CAHxYngJdzihXtpWNTaCyFHQMu2V38II1MAzvy3TeZt6EypTARQK6z4ZmipcGNF1Himb4cOsH1opoSRk+tFlTNO7lFCg9iz4mdCWspxMA6PCCQ575MouBv4gbwjCUPW825MazPSfEeMkwUfq5gxVCjFkYQIw+nZ3ZXtYs4N7E5HKS+VRUBAZNvs+mWFmGOfE5cHAI3fvUTyEyTMQUWVGjZ/5UHVVcrx1xbSWdTUczfwQvkTDcojTtQ6TOoo9kWJDJe2B/Oroxxgu7SirUNPOnBuC1ZhM3TtxI1Gzow4nHRYidD2kT5qOX/IRLtS4K2Iy2502X+Dn+6edLxb76v+ONOJ2NQd9G7tRsKbM/VIAby2/zQDeZetJ7NzQJLGj5ajagCvidzMiSq4w5PsAfRsUrhVtrhZ3zTKWHO87rShSz5oTMWAS0+RLZ0ra4YcEi8OnM1FUBf/nvZdiJu8X01UlGPHNXp0PkhPN3a1KT0sEPAm0OxTgo78+zosbuxKC+IswuWMeKsDkSRJDIbWQ=
  - secure: dQfZfrC73Oyj+6jEpCpMWIIUsr6Wm7WBLREw1X+nSxA3/ZkIqZ25xIs4kN/o4gv2ay43hwLpDKfeP4dnpSYt7mPu5T2wlP+5Ih1zrZFXJrUD5RkuRzeKHG3S4aKEJcLK85dYCdKLhtJXeaBOeOUTrUcrEXPlbTTW91uWU5ewuTsjmI0TDPesi5YvCB2V0tihyMBmnXzxwZHKnJYVfdGQhPKyMB5JetIW7prvQoJtsK4ViIQJjunlY9wB9ENu92mXYQ8SbMo1gCjT3+XDcrYRgTh56uKx9hzp1o1RvColW2+kWM3OEWScU2Z/GPzDvn37i3e6DVP3SOhS/mAW3I8FyeRpGSRlPbB2RJ+qyc9gBWYgh2L3Y5sNVi7UrOYOjOAA/KWa8XYqVg+iTYjpnzIt1Qj7NdhjVuDpe4MJhz20wNXPyffqsNSrRrc524GebymyKK1Yll1nHDQNfpOaHoWudt4s8AIAkMJFPcGOi5WWZvaW5jQWJrTuX1cMvtx4nX85jhm8piEC0PVhxoB3GaxVWktrB6QVXFueFM7YYhu8PZxOshOFVmPcwD6E3hmspuNB2IIbdBPYlYrLl07hOq+I/+J94Hi+8asnPvujFmKH0lnJZiC0pwfzLAXV+E1b3DcxDw7Uf/x/8tKa0LOVYLYYbI3PRpBvTTrCNKXSq/0asTQ=
